.navbar {
  overflow:visible;
  background-color: #333;
  list-style-type:none;
  margin: 0;
  padding: 0;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100vw;
  margin-left: -1vw;
  margin-right: -1vw;
  z-index: 10;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  overflow:hidden;
  float:left;
  
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display:none;
  position:absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.AniSenpai{
margin-left: 47vw;
}

html{
  background-color: #A9A9A9;
  color:white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  object-position: center;
}

body{
  padding-top: 40px;
}

.header{
  background-image: url(Images/animeLibrary.PNG);
  background-size: 100% 100%;
  border: 1px solid;
  height: 300px;
}

img{
  vertical-align: middle;
  width: 100px;
  height: 150px;
}

table{
  text-align: center;
  font-size: x-large;
  border: 1px solid;
  border-color: black;
}

td{
  padding: 20px;
  border: 1px solid;
  border-color: #111;
}

.table-header{
  background-color:	#00008B;
}

.odd-row{
  background-color: #A9A9A9;
}
.even-row{
  background-color: #451340;
}

.tooltip{
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width:600px;
  height: fit-content;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  font-size: small;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.genre{
    text-align: left;
    font-size: small;
}
  