
.grid-container {
    display: inline-grid;
    grid-template-areas:
    'nav nav'
    'ani ani'
    'for for'
    'ad1 ad2'
    'chat chat';
    background-color: #2196F3;
    padding: 10px;
  }

.item1{grid-area: nav;
    text-align: center;}
.item2{grid-area: ani;
    text-align: center;}
.item3{grid-area: for;
    text-align: center;}
.item4{grid-area: ad1;
    text-align: center;}
.item5{grid-area: ad2;
    text-align: center;}
.item6{grid-area: chat;
    text-align: center;}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/*This is for the navigation  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  

